@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-color-primary: #f7dd43;
    --card-title-border-color: #746615;
    --card-bg-color: #1D1C19;
    --bg: url(/assets/img/background.svg);
}

body.blue {
    --card-color-primary: #f7dd43;
    --card-title-border-color: #338af3;
    --card-bg-color: #202024;
}

body.green {
    --card-color-primary: #f7dd43;
    --card-title-border-color: #047c3f;
    --card-bg-color: #1A1F1B;
}

ul {
    list-style: none;
}

body {
    background: #121214 url(--bg) no-repeat top center/cover;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 52px;
    padding-bottom: 40px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 63px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 32px 23px;
    text-align: center;
    background-color: var(--card-bg-color);
    border-bottom: 2px solid var(--card-title-border-color);
    border-radius: 6px;
}

.card h2 {
    width: fit-content;
    margin: auto;
    margin-bottom: 53px;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--card-color-primary);
    border: 1px solid var(--card-title-border-color);
}

.card h2 span {
    color: #e1e1e6;
    font-size: 14px;
    text-transform: uppercase;
}

.card ul {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.card ul li+li {
    /*PEGA UM LI ANTERIOR A ELE*/
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong {
    font-weight: 900;
    font-size: 36px;
    line-height: 125%;
    text-align: center;
    color: #e1e1e6;
}

.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);
}

.card ul li strong,
.card ul li img {
    transition: transform .4s;
}

.card {
    opacity: 0;
    animation: appear 2s forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 401px) {
    #cards {
        max-width: 670px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}